/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Teal): #357b70;
Secondary Color (Orange-yellow): #e0b354;
*/

:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-gray: #2b2b2b;
  --color-one: #edc655;
  --color-two: #fcffad;
  --color-three: #f76414;
  --header-font-weight: 700;
  --active-color: #489c79;
  --visited-color: #05676e;
}

a {
  color: var(--primary-color);
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 1+px */
  line-height:1.6;
  /*Sets the line-height to 1.6 */
}

h1 {
  font-size: 30px;
  font-weight: var(--header-font-weight);
}

h2 {
  font size: 24px;
  font-weight: var(--header-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--header-font-weight);
}

a {
  color: var(--primary-color);
}

a:visited {
  /* visited link */
  color: var(--color-visited);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--active-color);
}

.button, button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: var(--secondary-color);
  color: var(--dark-gray);
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}
.profile.about {
  text-align: center;
}

.profile.about ul {
  list-style-type: none;
  padding-left: 0;
}

* {
  box-sizing: border-box;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid gap: 20px;
}

.grid__item {
  background-color:lightgray;
  width: auto;
  min-height: auto;
  margin: 0;
}

.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: var(--color-one);
  }
  50% {
    fill: var(--color-two);
  }
  100% {
    fill: var(--color-three);
  }
}

.cls-6 {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cls-1-move {
  from {
    transform: translate(0. -50px);
  }
  to {
    transform: translate(-100px, -50px)
  }
}

.cls-1 {
  animation-duration: 5s;
  animation-name: cls-1-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-funciton: linear;
}

@keyframes cls-5-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(100px, 50px)
  }
}

.cls-5 {
  animation-duration: 5s;
  animation-name: cls-5-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.svg-container {
  height: 600px;
  width:400px;
  margin: auto;
}
